<%- include('header.ejs') %>
<body>
	<header>
		<nav>
			<a href='/'>Home</a>
			<a href='/monsters'>Monsters</a>
		</nav>
	</header>
	<main>
		<h1>Detail page</h1>
	</main>

<%- include('footer.ejs') %>
