


<%- include('header.ejs') %>
<body>
	<header>
		<nav class='monster-nav'>
			<a class='normal-voice' href='/'>Home</a>
		</nav>
	</header>
	<main>
		<inner-column>
			<h1 class='loud-voice'>Monsters</h1>

			
		<ul class='monster-list'>

			<% monsters.forEach(function(monster) { %>
				<li class='monster-item'>
					<%- include('monster-card.ejs', {monster})%>
				</li>
			<% }) %>
	
		</ul>



</monster-card>

			
		</inner-column>
		


<%- include('footer.ejs') %>