/*@import "developer.css";*/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SETTINGS  ("variables" in our case) */
html {
  --black: #111111;
  --white: #FFFFFF;
  --color: #EBCF8B;
  --highlight: #4b858c;
  --accent: #FFD615;
}

/* you can make more! */
/* USAGE */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  display: block;
  color: inherit;
}

p a {
  display: inline;
  color: blue;
  /*	text-decoration: underline;*/
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
  /* may need height: 100%; Check all browsers */
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.loud-voice {
  font-size: 50px;
  font-weight: 700;
  -webkit-text-stroke: 2px var(--white);
  color: var(--white);
  text-align: center;
  padding-bottom: 5vh;
}

.normal-voice {
  font-size: 15px;
  color: var(--white);
  text-decoration: none;
  font-family: Avenir, sans-serif;
}

.normal-voice:hover {
  font-weight: 700;
}

.bold-voice {
  font-weight: 700;
  font-size: 17px;
}

.strong-voice {
  font-size: 15px;
  font-weight: 600;
}

.little-voice {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border: 1px solid var(--white);
  padding: 10px;
}

.style-guide .loud-voice {
  line-height: 1.1em;
}

.page-header .home .intro-voice {
  font-size: 20px;
}

.home .intro-voice {
  line-height: 1.3em;
}

.page-header .projects .intro-voice {
  padding-top: 20px;
}

.link-voice {
  text-decoration: none;
  color: var(--black);
}

.link-voice:hover {
  font-weight: 700;
}

/*responsive layout text*/
.title-voice {
  font-size: 70px;
  font-weight: 900;
  padding-bottom: 2vh;
}

.busy-voice {
  font-size: 20px;
  line-height: 1.2em;
}

.button-voice {
  font-size: 20px;
  text-decoration: none;
}

.intro-form .button-voice {
  font-size: 10px;
  font-weight: bolder;
}

.descriptive-voice {
  font-size: 10px;
}

.monster-list {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  margin-bottom: 5vh;
}

.monster-item {
  border: 1px solid var(--color);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

monster-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  gap: 10px;
  height: 100%;
}

monster-card a {
  text-align: center;
  border: 1px solid var(--black);
  background-color: var(--white);
  padding: 10px;
  margin-top: auto;
}

monster-card span {
  color: var(--black);
}

.img-container {
  max-width: 200px;
  height: 75%;
}

.monster-img {
  width: 100%;
  height: auto;
}

.monster-name {
  text-align: center;
  margin-top: auto;
}

.detail-list {
  display: flex;
  display: grid;
  gap: 10px;
}

.detail-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.detail-img-container {
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detail-img {
  width: 100%;
  height: auto;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

body {
  padding: 0;
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; /*fill up available space + push the footer down*/
}

header {
  background-color: var(--color);
}

inner-column {
  display: block;
  width: 98%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

img {
  max-width: 200px;
}

.monster-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  gap: 10px;
}

footer {
  display: block;
  background-color: var(--color);
  padding: 40px 5px;
}

/*# sourceMappingURL=site-minified.css.map */
